#xmpp-details label {
  width: 100px;
  display: inline-block;
}
#xmpp-details input[type="text"],
#xmpp-details input[type="password"] {
  width:300px;
}
#xml, #msg {
    font-family: monospace;
    max-height: 300px;
    overflow-y: scroll
}
#msg p.error {
    color: #FF0000;
}
#xml p.in {
    color: #FFA500;
}
#xml p.out {
    color: #00FFFF;
}
#xml {
    display: none;
}
#top-panel > div {
    display: inline-block;
}